CONNECTION_STRING=Host=db;Database=webapp;Username=postgres;Password=password
ALLOWED_ORIGINS=http://localhost
JWT_SECRET=super_long_and_secure_jwt_secret_key_1234567890
SMTP_SERVER=smtp.example.com
SMTP_SENDER_EMAIL=sender@example.com
SMTP_PASSWORD=your_password
SMTP_LOGIN=sender@example.com
APP_BASE_URL=http://localhost
